
<div class="container border-dark">
  <h2>Datos de Persona Encuestada</h2>
  <!--(ngSubmit)="enviarFormulario()" -->
  <form class="form">
    <div class="form-section">

      <div class="form-group vevo">
        <!--  [(ngModel)]="nombreApellido" -->
        <label for="nombreApellido">Nombre y Apellido</label>
        <input type="text" class="form-control" id="nombreApellido"
          aria-describedby="nameHelp" placeholder="Ingresa nombre y apellido"
          required>
      </div>
      <div class="form-group">
        <!-- [(ngModel)]="email" -->
        <label for="email">Email </label>
        <input type="email" class="form-control" id="email"
          aria-describedby="emailHelp" placeholder="Ingresa email" required>
        
      </div>
      <!-- [(ngModel)]="numeroCelular" -->
      <div class="form-group">
        <label for="nombreApellido">Número de celular</label>
        <input type="tel" class="form-control" id="numeroCelular"
          aria-describedby="celHelp" placeholder="Ingresa tu celular" required>
      </div>
    </div>
    <br>
    <h2>Datos de la Ciudad y Preguntas Relevantes</h2>
    <div class="form-section">

      <!-- [(ngModel)]="ciudad" -->
      <label for="ciudad">Ciudad</label>
      <input type="text" class="form-control" id="ciudad"
        placeholder="Ciudad de Residencia" required>
      <!--[(ngModel)]="codigoPostal" -->
      <label for="codigoPostal">Ciudad</label>
      <input type="text" class="form-control" id="Codigo Postal"
        placeholder="Codigo Postal" required>
      <!--[(ngModel)]="provincia" -->
      <label for="provincia">Ciudad</label>
      <input type="text" class="form-control" id="Provincia"
        placeholder="Provincia" required>
      <!--[(ngModel)]="paisOrigen" -->
      <label for="paisOrigen">Ciudad</label>
      <input type="text" class="form-control" id="Pais de"
        placeholder="Pais de origen" required>

        <br>
      <h2>Preguntas Gastronómicas</h2>

      <div class="form-group">
        <label for="preguntasGastronomico">Preguntas Gastronomicas:</label>
        <!--[(ngModel)]="preguntasGastronomico" -->
        <select class="form-control" id="gastronomico"
          name="preguntasGastronomico">
          <!--*ngFor="let pregunta of preguntasGastronomico" [value]="pregunta">{{ pregunta }} -->
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="form-group">
        <label for="preguntasHotelero">Preguntas Hoteleras:</label>
        <!--[(ngModel)]="preguntasHotelero" -->
        <select class="form-control" id="hotelero" name="preguntasHotelero">
          <!--*ngFor="let pregunta of preguntasHotelero" [value]="pregunta">{{ pregunta }} -->
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>

      <div class="form-group">
        <label for="preguntasEntretenimiento">Preguntas de Entretenimiento:</label>
        <!--[(ngModel)]="preguntasEntretenimiento" -->
        <select class="form-control" id="entretenimiento"
          name="preguntasEntretenimiento">
          <!--*ngFor="let pregunta of preguntasEntretenimiento" [value]="pregunta">{{ pregunta }} -->
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    <br>
    
    <div class="form-group botonS">
      <button type="submit" class="btn btn-lg btn-primary">Enviar formulario</button>
    </div>
  </form>
</div>


