.botonS{
    text-align: right;
    padding-bottom: 20px;
}

.container{
  margin-top: 50px;
  margin-bottom: 50px;
  place-content: center;
  grid-auto-flow: column;
  background-color: #cfcdcd;
  padding: 50px;
}
